---
import Layout from "../../layouts/Layout.astro";

let title = 'Blog - Brock Herion';
let description = 'On my blog, you can browse articles on software development, productivity, books, and my life as a developer.';
let permalink = 'https://brockherion.dev/';

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.filter(post => post.frontmatter.isPublished)
	.sort((a, b) => new Date(b.frontmatter.publishedOn).valueOf() - new Date(a.frontmatter.publishedOn).valueOf())

---

<Layout content={{title, description, permalink}}>
	<h1 class="text-5xl pt-6">
		Blog 📰
		<div class="w-16 h-2 mt-4 bg-emerald-400"></div>
	</h1>
	<h3 class="italic my-4">Viewing {allPosts.length} posts</h3>

	<div class="grid md:grid-cols-3 gap-x-6 gap-y-6">
		{allPosts.map(post => (
		<a href={`/blog/posts/${post.frontmatter.slug}`}
			class="bg-emerald-400/10 shadow dark:shadow-none rounded-md overflow-hidden h-96 border border-emerald-400 px-2">
			<div class="p-3 flex-1 flex flex-col justify-evenly">
				<h4 class="text-2xl track leading-6 font-semibold mb-2 h-24">
					{post.frontmatter.title}
				</h4>
				<img src={post.frontmatter.imageSrc} height="168" width="320" class="rounded" />
				<div class="h-24 overflow-hidden mt-2">
					<span class="text-sm italic">
						{post.frontmatter.publishedOn}
					</span>
					<p class="leading-5 mt-4 line-clamp-3">{post.frontmatter.abstract}</p>
				</div>
			</div>
		</a>
		)) }
	</div>

</Layout>