---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { generatePermalink } from "../lib/urls";

const { content, enableAnimation } = Astro.props;
const { title, description, slug, image, keywords } = content;
const permalink = generatePermalink(slug);
---

<html lang={content.lang || "en"}>
  <head>
    <BaseHead {title} {description} {permalink} {image} {keywords} />
  </head>

  <body class="bg-stone-800 text-zinc-50 font-ibm-plex-mono">
    <Header enableAnimation={enableAnimation} />
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mb-4">
      <div class="max-w-4xl mx-auto">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
