---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { generatePermalink } from "../lib/urls";

const { content, enableAnimation } = Astro.props;
const { title, description, slug, image, keywords } = content;
const permalink = generatePermalink(slug);
---

<html lang={content.lang || "en"} class="dark">
  <head>
    <BaseHead {title} {description} {permalink} {image} {keywords} />
  </head>

  <body
    class="bg-neutral-950 text-zinc-50 font-ibm-plex-mono mx-auto max-w-3xl px-8"
  >
    <Header enableAnimation={enableAnimation} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
